@(message: String)

@main("Welcome to Play") {
    <div ng-app="ChatApp">
        <div ng-controller="ChatController as chat">
            <form>
                <input type="text" placeholder="Enter name..."
                ng-model="chat.username">
                <input type="text" placeholder="Enter message..."
                ng-model="chat.currentMessage">
                <input type="submit" value="Send"
                ng-click="chat.sendMessage()">
            </form>

            <ul>
                <li ng-repeat="msg in chat.messages track by $index">
                    {{msg}}
                </li>
            </ul>
        </div>
    </div>
}
